/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(132, 13, 138);
}

input, textarea {
  margin: 10px;
  display: inline-block;
  vertical-align: text-top;
}

button {
  border: none;
  background: rgb(132, 13, 138);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
